*, *:before, *:after {
    color: #151a30;
    box-sizing: border-box;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 10pt;
    padding: 0;
    margin: 0;
    
}

@keyframes fade {
    0% { opacity: 0 }
    75% { opacity: 1 }
}

/*LOADING SCREEN*/

#tos-logo {
    width: 300px;
    display: block;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20vh;
    animation: fade 1s linear; 
}



/*HOME SCREEN*/



#homescreen {
    padding-top: 12vh;
    animation: fade 1s linear;
    text-align: center;
    background-image: url(./images/skyship.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

#homescreen h1, #homescreen em {
    color:black;
    font-size: 5.5rem;
    text-shadow: 0.1vh 0.1vh aliceblue;
}

#homescreen h2 {
    color: black;
    font-size: 1.7rem;
    margin-bottom: 3vh;
    text-shadow: 0.1vh 0.1vh white;
}

#skyship-image {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 3px;
}

#img-caption {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
}

audio {
    display: none;
}

#homescreen p, #homescreen a {
    color: black;
    font-size: 1rem;
    margin-top: 0.5vh;
    font-weight: bold;
    text-shadow: 0.03rem 0.03rem white;
}

#play-button-div {
    position: absolute;
    bottom: 45%;
    width: 100%;
    text-align: center;
}

#play-button {
    background-color: rgb(107, 149, 255);
    border: 2px solid hsl(202, 205, 50);
    padding: 0.5vh;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5px;
    width: 35%;
    max-width: 300px;
    box-shadow: 0 0 10px 1px;
}

#play-button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(202, 205, 255);
}


/*GAME SCREEN*/

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: #657ac7;

    background-image: url(./images/skyship.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#content-wrap {
    padding-bottom: 12vh;    /* Footer height */
  }

body {
    background-color: #657ac7;
}

#title {
    display: block;
    text-align: center;
    padding-top: 4vh;
    margin-bottom: 2vh;
}

#title h1, #title em {
    color:black;
    font-size: 4rem;
    text-shadow: 0.1vh 0.1vh aliceblue;
}

#body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5vh;
}

.container {
    width: 800px;
    max-width: 83%;
    padding: 2vh;
    background-color: rgba(204, 213, 255, 0.91);
    box-shadow: 0 0 10px 2px;
    border-radius: 5px;
}

#text, #text2, #text3, #text4 {
    font-size: 1.4rem;
    color: black;
    margin: 0.75vh;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 2vh;
}

.btn {
    background-color: rgb(163, 168, 255);
    border: 1px solid hsl(202, 205, 50);
    padding: 0.5vh;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    color: white;
    background-color: #5c3601d2;
    border: 1px solid rgb(202, 205, 255);
}

#credits {
    position: absolute;
    bottom: 0;
    height: 12vh;
    width: 100%;
    text-align: center;
    padding-bottom: 3vh;
}

#credits h5, #credits a {
    color: black;
    margin: 0.25vh;
    font-size: 1rem;
    letter-spacing: 0.06rem;
    text-shadow: 0.02rem 0.04rem white;
}

@media only screen and (min-width: 900px) {
    * {
        font-size: 11pt;
    }

    #homescreen {
        background-image: url(./images/skyship.jpg);
        background-position: 0 70%;
        background-repeat: no-repeat;
        background-size:cover;
        height: 100vh;
    }

}